.contact {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.9), rgba(39, 39, 39, 0.3)), url("/img/bg5.jpg") center top;
    & .row {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;

        & .content {
            flex: 1 1 30rem;
            padding: 4rem;
            padding-bottom: 0;

            & .info {
                h3 {
                    display: flex;
                    align-items: center;
                    font-size: 2rem;
                    color: #eee;
                    padding: 1rem 0;
                    font-weight: normal;

                    & i {
                        padding-right: 1rem;
                        color: var(--color);
                    }
                }
            }

            & .title {
                text-transform: uppercase;
                color: #fff;
                font-size: 3rem;
                padding-bottom: 2rem;
            }
        }

        & form {
            flex: 1 1 45rem;
            padding: 2rem;
            margin: 2rem;
            margin-bottom: 4rem;

            & .box {
                padding: 1.5rem;
                margin: 1rem 0;
                background: rgba(0, 0, 0, 0.2);
                color: #fff;
                text-transform: none;
                font-size: 1.7rem;
                width: 100%;

                &::placeholder {
                    text-transform: capitalize;
                    color: white;
                }
            }

            & .message {
                height: 15rem;
                resize: none;
            }
        }
    }
}

.thankyou_message {
    margin-top: 20px;
    display: none;
    background: none;
    border: 3px solid gray;
    border-radius: 5px;
    width: 400px;
    padding-top: 15px;
    padding-bottom: 40px;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
}
