header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    height: 100%;
    width: 35rem;
    background: #00204a;
    // background: #1a1a1a;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    text-align: center;
    // background: linear-gradient(to right, rgba(0, 0, 0, 0.3), rgba(20, 13, 6, 0.9)),  center top;
    border: 2px solid rgb(33, 30, 30);

    & .user {
        & img {
            height: 17rem;
            width: 17rem;
            border-radius: 50%;
            object-fit: cover;
            margin-bottom: 1rem;
            border: 0.7rem solid black;
        }

        & .name {
            font-size: 3.5rem;
            color: #fff;
        }

        & .post {
            font-size: 2rem;
            color: #eee;
        }
    }

    & .navbar {
        width: 100%;

        & ul {
            list-style: none;
            padding: 1rem 3rem;

            & li a {
                display: block;
                padding: 1rem;
                margin: 1.5rem 0;
                background: black;
                color: #fff;
                font-size: 2rem;
                border-radius: 10px;
                background-color: rgb(21, 25, 26);
                &:hover {
                    background: var(--color);
                    text-decoration: underline;
                    color: black;
                }
             
            }
        }
    }
}
