.home {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.9), rgba(39, 39, 39, 0.3)), url("/img/bg5.jpg") center top;
    display: flex;
    justify-content: center;
    flex-flow: column;
    padding: 0 15rem;

    & h3 {
        font-size: 2.5rem;
        color: #fff;
    }

    & h1 {
        font-size: 5rem;
        color: #fff;

        & span {
            color: var(--color);
        }
    }

    & p {
        font-size: 2rem;
        color: #eee;
        padding: 1rem 0;
    }
}
