.portfolio {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.9), rgba(39, 39, 39, 0.3)), url("/img/bg4.jpg") center top;
    & .box-container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        padding: 2rem 0;

        & .box {
            height: 20rem;
            width: 26rem;
            border-radius: 1rem;
            margin: 2rem;
            overflow: hidden;
            cursor: pointer;

            & img {
                height: 100%;
                width: 100%;
                object-fit: cover;

                &:hover {
                    transform: scale(1.3);
                }
            }
        }
    }
}